:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.chat {
  display: flex;
  gap: 30px;
  margin: 10px;
}

.chat-list {
  background-color: #1a1a1a;
  height: 60vh;
  width: 25vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.chat-box{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-messages{
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;
}
.chat-messages::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Edge */
}
.chats {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-bubble {
  width: fit-content;
  max-width: 70%;
  padding: 6px 15px;
  margin-bottom: 7px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease; /* for slide animation */
  cursor: default;
}

.my-text {
  display: flex;
  align-self: flex-end;
  background-color: #6495ed;
  text-align: left;
  margin-right: 0;
}


.friend-text {
  display: flex;
  justify-content: flex-start;
  background-color: #4a4b4b;
  align-self: flex-start;
  text-align: left;
  margin-left: 0;
}
.message-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: default;
}

.message-container span {
  font-size: 0.75rem;
  color: gray;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  position: absolute;
}


/* My text → timestamp to the right */
.my-text + span {
  right: -0.00001px;
}

/* Friend's text → timestamp to the left */
.friend-text + span {
  left: -0.5px;
}

/* Slide effect when active */
.my-text:hover {
  transform: translateX(-40px);
}
.friend-text:hover {
  transform: translateX(40px);
}

.active + span {
  opacity: 1;
}

.logout-link {
  display: block;
  margin-top: 40px;
  font-weight: 200;
}
.logout-link:hover{
  text-decoration: underline;
}
.search-bar {
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.search-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.search-items {
  list-style: none;
  background-color: #ffffff;
  color: #242424;
  border-radius: 20px;
  height: 40px;
  align-content: center;
  text-align: left;
  padding-left: 10px;
}
.friends {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.normal-chat {
  list-style: none;
  background-color: #323131;
  color: #f8f7f7;
  border-radius: 20px;
  height: 60px;
  align-content: center;
  text-align: left;
  padding-left: 10px;
}
.current-chat {
  list-style: none;
  background-color: #676667;
  color: #f8f7f7;
  border-radius: 20px;
  height: 60px;
  align-content: center;
  text-align: left;
  padding-left: 10px;
}
.friend-name {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

}

.send-message{
  flex: 1;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}
.send-button{
  padding: 8px 16px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
.login-bg{
  height: 100vh;
  width: 100vw;
  background: url('/images/loginbg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -110px;
  margin-top: -30px;
}
.glass-box {
  height: 30vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 60px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

/* Google button */
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.google-button:hover {
  transform: scale(1.01);
  background-color: #f0f0f0;
}
.google-icon {
  width: 20px;
  height: 20px;
}
.date-divider {
  text-align: center;
  margin: 1rem 0;
  color: gray;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.date-divider hr {
  flex: 1;
  border: none;
  border-top: 0.5px solid gray;
}
.typing-indicator {
  display: flex;
  align-items: center;
  gap: 4px;
}

.typing-indicator span {
  width: 8px;
  height: 8px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 60%, 100% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
.unread-count {
  background: rgb(60, 166, 60);
  width: 20px;
  height: 20px;
  color: #1a1a1a;
  border-radius: 10px;
  margin-right: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
